<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.coffee.nostresso.model.mapper.AddressMapper">
    <resultMap id="AddressRM" type="ru.coffee.nostresso.model.entity.Address">
        <id column="id"/>
        <result property="id" column="id"/>
        <result property="shopId" column="shop_id"/>
        <result property="addressText" column="address_text"/>
        <result property="x" column="x"/>
        <result property="y" column="y"/>
        <result property="dateUpdated" column="date_updated"/>
    </resultMap>

    <select id="getByShopId" resultMap="AddressRM">
        select id, shop_id, address_text, x, y, date_updated
        from address
        where shop_id = #{shopId, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </select>

    <update id="updateAddress">
        insert into address (address_text, x, y, shop_id)
        values (#{addressText},
                #{x},
                #{y},
                #{shopId});
        update address
        set is_deleted= true,
            date_updated = now()
        where id = #{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </update>

    <delete id="deleteByShopId">
        update address
        set is_deleted= true,
            date_updated = now()
        where id = #{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </delete>
</mapper>
