<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.coffee.nostresso.model.mapper.ItemMapper">
    <select id="getAllItems" resultType="ru.coffee.nostresso.model.entity.Item">
        select id, name, volume, cost, date_updated as dateUpdated, shop_id as shopId
        from items
    </select>
    <select id="getItemsByShop" resultType="ru.coffee.nostresso.model.entity.Item">
        select id, name, volume, cost, date_updated as dateUpdated, shop_id as shopId
        from items
        where shop_id = #{shopId, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </select>

    <insert id="addItem">
        insert into items (id, name, volume, cost, shop_id)
        values (#{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler},
                #{item.name},
                #{item.volume},
                #{item.cost},
                #{item.shopId, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler})
    </insert>

    <select id="findByShopId" resultType="ru.coffee.nostresso.model.entity.Item">

    </select>
    <update id="updateItem">
        update items
        set name         = #{name},
            volume       = #{volume},
            cost         = #{cost},
            shop_id      = #{shopId, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler},
            date_updated = now()
        where id = #{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </update>
    <delete id="deleteItem">
        delete
        from items
        where id = #{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </delete>
</mapper>
