<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.coffee.nostresso.model.mapper.ReviewMapper">

    <select id="findAll" resultType="ru.coffee.nostresso.model.entity.Review">
        select id, description, rate, shop_id as shopId, user_id as userId, date_updated as dateUpdated
        from reviews
        where is_deleted = false
    </select>
    <select id="findByShop" resultType="ru.coffee.nostresso.model.entity.Review">
        select id, description, rate, shop_id as shopId, user_id as userId, date_updated as dateUpdated
        from reviews
        where shop_id = #{shopId}
          and is_deleted = false
    </select>
    <select id="findByUser" resultType="ru.coffee.nostresso.model.entity.Review">
        select id, description, rate, shop_id as shopId, user_id as userId, date_updated as dateUpdated
        from reviews
        where user_id = #{userId}
          and is_deleted = false
    </select>
    <select id="getRatesByShop" resultType="java.lang.Long">
        select rate
        from reviews
        where shop_id = #{shopId}
          and is_deleted = false
    </select>

    <insert id="addReview">
        insert into reviews (id, description, rate, shop_id, user_id)
        values (#{id},
                #{item.description},
                #{item.rate},
                #{item.shopId},
                #{item.userId})
    </insert>
    <update id="updateReview">
        update reviews
        set description  = #{description},
            rate         = #{rate},
            shop_id      = #{shopId},
            user_id      = #{userId},
            date_updated = now()
        where id = #{id}
    </update>
    <update id="deleteById">
        update reviews
        set is_deleted = true,
            date_updated = now()
        where id = #{id}
    </update>
</mapper>
