<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.coffee.nostresso.model.mapper.ShopMapper">

    <select id="findAll" resultType="ru.coffee.nostresso.model.entity.Shop">
        select id,
               name,
               description,
               phone,
               img,
               date_updated as dateUpdated,
               middle_rate  as middleRate
        from shops
        where is_deleted = false
    </select>

    <insert id="addShop">
        insert into shops (id, name, description, phone, img, middle_rate)
        values (#{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler},
                #{shop.name},
                #{shop.description},
                #{shop.phone},
                #{shop.img},
                0)
    </insert>
    <update id="updateShop">
        update shops
        set name         = #{name},
            description  = #{description},
            phone        = #{phone},
            img          = #{img},
            middle_rate  = #{middleRate},
            date_updated = now()
        where id = #{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </update>
    <update id="updateShopMiddleRate">
        update shops
        set middle_rate  = #{rate},
            date_updated = now()
        where id = #{shopId, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </update>

    <update id="deleteById">
        update shops
        set is_deleted= true,
            date_updated=now()
        where id = #{coffeeShopId, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </update>
</mapper>
