<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.coffee.nostresso.model.mapper.UserMapper">

    <select id="findAll" resultType="ru.coffee.nostresso.model.entity.User">
        select id, name, date_updated as dateUpdated
        from users
        where is_deleted = false
    </select>

    <insert id="addUser">
        insert into users (id, name, date_updated)
        values (#{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler},
                #{user.name},
                now())
    </insert>
    <update id="updateUser">
        update users
        set name         = #{name},
            date_updated = now()
        where id = #{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </update>
    <update id="deleteById">
        update users
        set is_deleted   = true,
            date_updated = now()
        where id = #{id, javaType=java.util.UUID,jdbcType=OTHER,typeHandler=UuidTypeHandler}
    </update>
</mapper>
