<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.coffee.nostresso.model.mapper.VkUserMapper">

    <select id="findByUsername" resultType="ru.coffee.nostresso.model.entity.VkUser">
        select username as id, password, role
        from vk_users
        where username = #{id}
    </select>

    <insert id="saveVkUser">
        insert into vk_users(username, password)
        values (#{username}, #{password})
    </insert>

</mapper>
